body {
	font-family: 'IBM Plex Mono', monospace;
	background-color: #000000;
}

.container {
	margin: 0 auto;
	width: 1150px;
}

h1,
h2,
h3,
a,
p,
div {
	letter-spacing: -0.03em;
	color: #FFFFFF;
}

.header {
	margin-bottom: 150px;
	width: 100%;
	padding: 23px 0 94px 0;
	background: linear-gradient(180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.5) 100%),
		url(../resources/developer.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.logo-wrapper {
	display: inline-block;
}

.logo {
	display: inline-block;
	width: 180px;
	height: 55px;
	border: 1px solid #000000;
	border-radius: 100px;
	background-color: #000000;
	line-height: 55px;
	font-size: 42px;
	font-weight: 700;
	letter-spacing: -0.11em;
	text-transform: uppercase;
	text-align: center;
	color: #1BFF07;
	text-decoration: none;
}

.nav {
	float: right;
}

.nav__link {
	display: inline-block;
	margin-right: 50px;
	font-size: 18px;
	line-height: 23px;
	text-decoration: none;
}

.nav__link:last-child {
	margin-right: 0px;
}

.nav__link:hover {
	color: #1BFF07;
}

.nav-wrapper {
	margin-bottom: 252px;
}

.subtitle {
	margin-bottom: 29px;
	height: 103px;
	width: 430px;
	font-size: 20px;
	line-height: 26px;
}

.title {
	font-size: 80px;
	line-height: 70px;
	color: #1BFF07;
}

/* ------------------------------------- */

.project-title {
	margin-bottom: 40px;
	font-size: 55px;
	line-height: 72px;
}

.project {
	position: relative;
}

.project__image {
	background: linear-gradient(180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.9) 100%);
}

.project__subtitle {
	position: absolute;
	left: 50px;
	bottom: 94px;
	font-size: 35px;
	line-height: 46px;
}

.project__description {
	position: absolute;
	left: 50px;
	bottom: 50px;
	font-size: 30px;
	line-height: 39px;
}

.project-list {
	margin-bottom: 80px;
}

.btn-all-projects {
	display: block;
	width: 582px;
	height: 153px;
	border-radius: 10px;
	line-height: 153px;
	font-size: 30px;
	text-align: center;
	background: #1BFF07;
	color: #000000;
	text-decoration: none;
}

.btn-all-projects:hover {
	border: 1px solid #1BFF07;
	background-color: #000000;
	color: #1BFF07;
}

.projects {
	margin-bottom: 150px;
}

/* ----------------------------- */

.competence-title {
	margin-bottom: 48px;
	font-size: 55px;
	line-height: 72px;
}

.competence__subtitle {
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 46px;
	color: #1BFF07;
}

.competence__description {
	width: 778px;
	font-size: 22px;
	line-height: 29px;
}

.competence {
	margin-bottom: 60px;
}

.competence:last-child {
	margin-bottom: 0;
}

.file-html-before:before {
	content: '';
	display: block;
	width: 45px;
	height: 44px;
	margin-bottom: 12px;
	background-image: url(../resources/file-html.png);
}

.competencies {
	margin-bottom: 150px;
}

/* ------------------------------ */

.service-title {
	margin-bottom: 74px;
	width: 403px;
	font-size: 35px;
	line-height: 46px;
}

.service__title {
	font-size: 55px;
	line-height: 72px;
	color: #1BFF07;
}

.service__description {
	width: 749px;
	font-size: 22px;
	line-height: 29px;
}

.service__text {
	padding: 40px;
	border: 1px solid #191C19;
	border-radius: 30px;
	background: #191C19;
}

.service {
	margin-bottom: 74px;
}

.service:last-child {
	margin-bottom: 0;
}

.services {
	margin-bottom: 150px;
}

/* ----------------------------- */